 <div class="fright">
    <% if (roots = local_assigns[:roots] || (collection ||= @menu_pages).roots).present?  -%>
      <% roots.each do |menu| %>
        <%= link_to  menu.title, menu.url -%>
      <% end %>
    <% end -%>
 </div>
