<div id="header-image" class="clearfix">
  <div class="view-content">
    <div id="slider" class="views-nivo-slider clear-block nivoSlider" style="margin-left:0px; margin-top:0px">
      <% banners.each do |banner|  %>
        <img src=<%= banner.url%> alt="" title="" class="imagecache imagecache-header_image" style="display: none;" /> 
      <% end -%>
    </div>
    <script type= "text/javascript">
      //<![CDATA[
        $("#slider").nivoSlider({effect: 'random', animSpeed: 1000, pauseTime: 8000});
      //]]>
    </script>
  </div>
</div>
