<div id="header-image" class="clearfix">
  <div class="view-content">
    <div id="slider" class="views-nivo-slider clear-block nivoSlider" style="margin-left:0px; margin-top:0px">
      <img src="images/banner-1.jpg" alt="" title="" class="imagecache imagecache-header_image" width="962" height="350" style="display: none;" /> 
      <img src="images/banner-2.jpg" alt="" title="" class="imagecache imagecache-header_image" width="962" height="350" style="display: none;" />
      <img src="images/banner-3.jpg" alt="" title="" class="imagecache imagecache-header_image" width="962" height="350" style="display: none;" />
      <img src="images/banner-4.jpg" alt="" title="" class="imagecache imagecache-header_image" width="962" height="350" style="display: none;" />
    </div>
    <script type= "text/javascript">
      //<![CDATA[
        $("#slider").nivoSlider({effect: 'random', animSpeed: 1000, pauseTime: 8000});
      //]]>
    </script>
  </div>
</div>
