<% content_for :slider do %>
  <%= render :partial => 'shared/slider' %>
<% end %>
<%= render :partial => "/shared/content_page" %>
<% content_for :featured do %>
        <div id="postscript-wrapper" class="postscripts-2 clearfix">
          <div id="postscript-first" class="column">
            <!-- start block.tpl.php -->

            <div class="block-wrapper odd">
              <div id="block-block-2" class="block block-block">
                <div class="block-inner">
                  <div class="block-title-wrapper">
                    <div class="block-title">
                      <h2 class="title block-title">video</h2>
                    </div>
                  </div>

                  <div class="content">
                    <div class="content-inner">
                    </div>
                  </div>
                </div><!-- /block-inner -->
              </div>
            </div><!-- /end block.tpl.php -->
          </div><!-- /postscript-first -->

          <div id="postscript-middle" class="column">
            <!-- start block.tpl.php -->

            <div class="block-wrapper odd">
              <div id="block-views-archive-block_1" class="block block-views">
                <div class="block-inner">
                  <div class="block-title-wrapper">
                    <div class="block-title">
                      <h2 class="title block-title">recent blog entries</h2>
                    </div>
                  </div>

                  <div class="content">
                    <div class="content-inner">
                      <div class=
                      "view view-archive view-id-archive view-display-id-block_1 view-dom-id-3">
                      <div class="view-content">
                          <div class="item-list">
                            <ul>
                              <li class=
                              "views-row views-row-1 views-row-odd views-row-first">
                              <span class="views-field-title"><span class=
                              "field-content"><a href=
                              "http://www.ridepdw.com/blog/2011/08/do-you-want-be-ambassador">
                              do you want to be an ambassador?</a></span></span></li>

                              <li class="views-row views-row-2 views-row-even">
                              <span class="views-field-title"><span class=
                              "field-content"><a href=
                              "http://www.ridepdw.com/blog/2011/08/have-good-weekend">have
                              a good weekend</a></span></span></li>

                              <li class="views-row views-row-3 views-row-odd">
                              <span class="views-field-title"><span class=
                              "field-content"><a href=
                              "http://www.ridepdw.com/blog/2011/07/little-love-portland-east">
                              a little love for "portland east"</a></span></span></li>

                              <li class="views-row views-row-4 views-row-even">
                              <span class="views-field-title"><span class=
                              "field-content"><a href=
                              "http://www.ridepdw.com/blog/2011/07/just-little-something-weve-been-working">
                              just a little something we've been working
                              on</a></span></span></li>

                              <li class=
                              "views-row views-row-5 views-row-odd views-row-last">
                              <span class="views-field-title"><span class=
                              "field-content"><a href=
                              "http://www.ridepdw.com/blog/2011/07/its-all-about-collabo">
                              its all about the collabo</a></span></span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /block-inner -->
              </div>
            </div><!-- /end block.tpl.php -->
          </div><!-- /postscript-middle -->
        </div><!-- /postscript-wrapper -->
  <% end -%>
