#main {width:888px; margin:0 auto;}

#header {height:514px;}
#header, #content, #footer { font-size:0.75em;}

.col-1, .col-2, .col-3 { float:left;}

/*======= index.html =======*/
#page1 #content .col-1 {width:346px; margin-right:46px;}
#page1 #content .col-2 { width:467px;}

/*======= index-1.html =======*/
#page2 #content .col-1 {width:346px; margin-right:46px;}
#page2 #content .col-2 { width:467px;}

/*======= index-2.html =======*/
#page3 #content .col-1 {width:346px; margin-right:46px;}
#page3 #content .col-2 { width:467px;}

/*======= index-3.html =======*/
#page4 #content .col-1 {width:346px; margin-right:46px;}
#page4 #content .col-2 { width:467px;}
#page4 #content .col-2 .col-1 { width:205px; margin:0;}
#page4 #content .col-2 .col-2 { width:259px;}

/*======= index-4.html =======*/
#page5 #content .col-1 {width:346px; margin-right:46px;}
#page5 #content .col-2 { width:467px;}
#page5 #content .col-2 .col-1 { width:220px; margin:0;}
#page5 #content .col-2 .col-2 { width:243px;}

/*=========================*/

#footer {height:58px;}
